body,
html {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

* {
    box-sizing: border-box;
}

.headercontainer {
    border: 0px solid red;
    width: 100vw;
    height: 38vh;
    color: white;
}

.topHeader {
    border: 0px solid red;
    display: flex;
}

.top-left {
    width: 10%;
    margin-top: 32px;
    margin-left: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px; 
    border: 0px solid red;
}

.top-left h2 {
    font-size: 13px;
    margin-top: -20px;
}
.top-left a { 
    text-decoration: none; 
    color: white; 
}
.top-left a:visited { 
    text-decoration: none; 
    color: white; 
}

.top-right {
    width: 43vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 52px;
    margin-left: 280px;
    font-size: 10px;
    color: white;
    border: 0px solid red;
}
.top-right a:visited { 
    color: white; 
   }


.header-content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
}

.header-title {
    color: whitesmoke;
    font-size: calc(40px + 3vw);
    padding: 0vw 0 5vw 10vw;
    margin-left: -70px;
    margin-top: -160px;
}

.scroll {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    bottom: 22.5rem;
    left: 8vw;
    position: absolute;
    z-index: 4;
}

.scroll-msg {
    color: hsla(0, 0%, 100%, .65);
    display: block;
    font-size: 1.5rem;
    margin-bottom: -280px
}

* {
    box-sizing: border-box;
}

.main-header-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.header-title {
    color: whitesmoke;
    font-size: calc(25px + 3vw);
    padding: 12vw 0 5vw 25vw;
}

#header {
    width: 100vw;

}

.video {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.main-container{
    border: 0px solid red;
    width: 100vw;
    height: 600vh;
}

.memorable-para{
    border: 1px solid white;
    width: 100vw;
    height: 61vh;
}

.memorable-lines{
    border: 0px solid pink;
    max-width: 69rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    font-size: calc(32px + .31579vw);
    font-weight: lighter;
    text-align: center;
}

.exclusive-container{
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.left-side-content{
    border: 0px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.exclusive-text {
    color: #000000;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
    padding-top: 1rem;
    font-size: 2.4rem;
    font-weight: lighter;
    line-height: 1.1;
    transform: translate(0rem, 0.2rem);
    border: 0px solid blue;
}

.ourworlds-text {
    color: #777;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    line-height: 2;
    border: 0px solid red;
    margin-left: -10px;
}
.exclusive-img img{
    width: 43vw;
    height: 100vh;
}

.explore-container{
    margin-top: 120px;
    border: 0px solid black;
    background-color: rgb(247, 242, 242);
}

.golf-container{
display: flex;
}

.golf-image img{
 width: 74vw;
 margin-top: 120px;
}

.golf-text-box{
    border: 0px solid black;
    width: 39vw;
    height: 77vh;
    background-color: white;
    margin-left: -300px;
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.golf-text{
    color: #000000;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
    padding-top: 1rem;
    font-size: 2.4rem;
    font-weight: lighter;
    line-height: 1.1;
    transform: translate(0rem, 0.2rem);
    border: 0px solid blue;
}
.commission-text{
    color: #777;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    line-height: 2;
    border: 0px solid red;
    margin-left: -10px;
}
.explore-tab{
    margin-top: 25px;
    width: 12vw;
    height: 9vh;
    border-radius: 0px;
    border: 1px solid gray;
    background-color: white;
}

.outdoor-container{
    display: flex;
}

.outdoor-image img{
    margin-left: 350px;
    width: 74vw;
    margin-top: 120px;
 
}
.outdoor-text-box{
    border: 0px solid black;
    width: 39vw;
    height: 80vh;
    background-color: white;
    margin-left: -1250px;
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    padding: 70px;
}

.outdoor-text{
    color: #000000;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
    padding-top: 1rem;
    font-size: 2.4rem;
    font-weight: lighter;
    line-height: 1.1;
    transform: translate(0rem, 0.2rem);
    border: 0px solid blue;
}
.signature-text{
    color: #777;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    line-height: 2;
    border: 0px solid red;
    margin-left: -10px;
}
.explore-tabtwo{
    margin-top: 25px;
    width: 12vw;
    height: 9vh;
    border-radius: 0px;
    border: 1px solid gray;
    background-color: white;
}

.footerContainer {
    border: 0px solid white;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    background-color: #161f1e;
 }
 
 .footerItems {
    border: 0px solid blue;
    width: 40vw;
    margin-top: 80px;
    margin-left: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

